[Unit]
Description=Hello
After=syslog.target

[Service]
Type=simple
User=pi
Group=pi
Environment=NLTK_DATA=/opt/nltk_data/
WorkingDirectory=/opt/hello
ExecStart=/opt/hello/hello.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
