[Unit]
Description=Hello
After=syslog.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/opt/hello
ExecStart=/opt/hello/hello.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
